.timing{
    display: grid;
    grid-template-areas: "btn btn btn btn";
    margin: 10px 25px;
}

@mixin timing{
    text-transform: uppercase;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.79);
    border: none;
    outline-color: #ffff;
    border-right: solid 1px #ffff;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;

    &:last-child {
        border: none;
    }
}

.timing-btn{
    @include timing();

    &:hover {
        background-color: #04ff00;
        color: rgb(0, 0, 0);
    }

    &:focus{
        background-color: #04ff00;
        color: rgb(0, 0, 0);
    }
}

.active-btn{
    @include timing();
    background-color: #04ff00;
    color: rgb(0, 0, 0);
}