.timing{
    display: grid;
    grid-template-areas: "btn btn btn btn";
    margin: 0px 25px;
    box-shadow: 0px 3px 7px #000000bb;
}

@mixin timing{
    text-transform: uppercase;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.79);
    border: none;
    outline-color: #ffff;
    border-right: solid 1px #ffff;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    
    cursor: pointer;

    &:last-child {
        border: none;
    }
}

@mixin active{
    background-color: #04ff00;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.412);
    transition: 0.5s;
}

.timing-btn{
    @include timing();

    &:hover {
        @include active()
    }

    &:focus{
        @include active()
    }
}

.active-btn{
    @include timing();
    @include active();
}

@media screen and (max-width:650px) {
    .timing-btn{
        font-size: 12px;
    }
}