.calculator {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-end;
    margin:50px 25px;
    text-transform: uppercase;
    font-family: lato, Arial;
}

#swap-btn{
    font-size: 24px;
    color: var(--secondary-text-color);
    padding: 2px 5px;
    outline-color: var(--primary-text-color);
    z-index: 0;
    cursor: pointer;
    transition: 0.4s;

    &:hover{
        color: var(--active-color);
        transform: scale(1.2);
        
        :nth-child(2){
            visibility: visible;
        }
    }

    & :first-child:focus{
        color: var(--active-color);
        transform: scale(1.2);
    }
}


#tooltip{
    position: absolute;
    margin-left:10px;
    margin-top: -30px;
    background-color: var(--transparent-dark-color);
    box-shadow: 5px 5px 4px var(--transparent-dark-color);
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    
    visibility: hidden;
}

.currency-field{
    display: grid;
    grid-template-areas:

    "label label"
    "input select";
    gap: 0px;
    justify-content: space-evenly;
    align-items: center;
}

@mixin active {
    background-color: var(--active-color);
    color: var(--secondary-text-color);
    text-shadow: 5px 5px 4px var(--transparent-dark-color);
    transition: 0.5s;
}

@mixin calculator{
    background: var(--transparent-dark-color);
    width: 310px;
    height: 50px;
    border: none;
    box-shadow: 0px 3px 7px var(--transparent-dark-color);
    outline-color: var(--primary-text-color);
    padding: 0;
    color: var(--primary-text-color);
    text-align: center;
    font-family: lato, Arial;
    font-size: 16px;
    transition: 0.5s;

    &:hover {
        @include active();
    }
    &:focus {
        @include active();
    }

}

label{
    grid-area: label;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-text-color);
    letter-spacing: 5px;
    text-shadow: 0px 7px 8px var(--secondary-text-color);
    margin: 25px;

    &:hover {
        letter-spacing: 10px;
        transition: 0.5s
    }
}

.calculator-input{
    @include calculator();
    border-right:solid 1px var(--primary-text-color); ;
    grid-area: input;
}

#base-value{
    background-color: var(--primary-text-color);;
    color: var(--secondary-text-color);
    font-weight: 600;
    text-decoration: underline;

    &:hover{
        text-shadow: 5px 5px 4px var(--light-shadow-color);
    }
    &:focus {
        text-shadow: 5px 5px 4px var(--light-shadow-color);
    }
}


#target-value{
    font-weight: 600;
    text-decoration: underline;
    background-color: var(--transparent-light-color);
    color: var(--secondary-text-color);

    &:hover{
        background-color: var(--active-color);
        text-shadow: 5px 5px 12px var(--transparent-dark-color);
    }

    &:focus {
        text-shadow: 5px 5px 12px var(--transparent-dark-color);
    }
}

select{
    @include calculator();
    color: var(--active-color);
    font-weight: 600;
    grid-area: select;
    text-align: left;
    padding-left:5px;
    cursor: pointer;
}

option{
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    font-weight: normal;
    text-shadow: none;
    
}



@media only screen and (max-width:1350px) {

    .calculator{
        flex-direction: column;
        align-items: center;

    }

    .currency-field{
        width:435px;
    }

    #swap-btn {
        padding: 20px;
        transform: rotate(90deg);
    }

    select{
        width: inherit;
    }

    .calculator-input{
        width: inherit;
    }
    

    label{
        margin-top: 0;
    }
}

@media only screen and (max-width:950px) {

    .calculator {
        flex-direction: column;
        align-items: center;
        }

    .currency-field {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .calculator-input{
        border: none;
        border-bottom: solid 1px var(--primary-text-color);
    }
}

@media only screen and (max-width:450px) {
    .currency-field {
        width: 250px;
    }

    #tooltip {
        font-size: 12px;
        padding: 10px;
        margin-left: -5px;
    }
}

@media only screen and (min-width:1800px) {
    
    .calculator{
        justify-content: space-evenly;
    }

    .currency-field {
        width: 550px;
    }
}