.error-message {
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    color: red;
    position: absolute;
}

.chart-wrapper{
    margin: 0px 150px;
    // background-color: rgba(0, 0, 0, 0.79);
}

