footer {
    background: rgb(0, 0, 0);
    border-top: 2px solid #000000;
    padding-bottom: 5px;
    margin-bottom: -5px;
}

.footer-title {
    font-size: 20px;
}

.footer-wrapper {
    margin: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.github-icon {
    font-size: 48px;
    color: #ffffffcd;
    transition: 0.4s;
    
    &:hover {
        color: #04ff00;
        transform: scale(1.2);
    
    }
    
    &:focus {
        color: #04ff00;
        transform: scale(1.2);
    }
}

@media screen and (max-width: 950px) {
    .footer-wrapper{
        flex-direction: column;
    }
    
    .github-icon{
        margin: 25px 0;
    }
}