footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.863);
    border-top: 2px solid #000000;
   
}

.footer-title {
    font-size: 20px;
}

.footer-wrapper {
    margin: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.github-icon {
    font-size: 48px;
    color: #ffffffcd;
    transition: 0.4s;
    
    &:hover {
        color: #04ff00;
        transform: scale(1.2);
    
    }
    
    &:focus {
        color: #04ff00;
        transform: scale(1.2);
    }
}

