footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.79);
    border-top: 1px solid #000000;
}

.footer-title {
    font-size: 20px;
}

.footer-wrapper {
    margin: 0 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.github-icon {
    font-size: 48px;
    color: #ffffffcd;
    transition: 1s;
}

.github-icon:hover {
    color: #05FF00
}