.toggle {
    background-color: rgba(0, 0, 0, 0.443);
    width: 70px;
    height: 50px;
    padding: 0 10px;
    border: 3px solid #0F690D;
    border-radius: 75px;
    display: flex;
    flex-direction: flow;
    justify-content: space-between;
    align-items: center;
}

.toggle-btn {
    position: absolute;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background: #0F690D;
    margin: 0 -5px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background-color: #04ff00;
    }
    
    &:focus {
        background-color: #04ff00;
    }
}

@media only screen and (max-width:1150px) {
    .toggle{
        width: 50px;
        height: 40px;
    }

    .toggle-btn{
        width: 30px;
        height: 30px;
    }

    .toggle-icon{
        font-size: 24px;
    }

}
