//THEMES

.dark{
    --primary-text-color: #ffff;
    --secondary-text-color: #000000;
    --sub-title-color:#77d775;
    
    --active-color: rgb(4, 255, 0);
    
    --toggle-color: #0F690D;

    --transparent-dark-color: rgba(0, 0, 0, 0.79);
    --transparent-light-color: rgba(4, 255, 0, 0.78);

    --light-shadow-color:#a4a4a4;

    --app-background: linear-gradient(180deg, #000000 10%, #014100 70%, #06b003 100%);
    
    --canvas-background:linear-gradient(180deg, rgba(0, 0, 0, 0.2) 45%, rgba(0, 0, 0, 0.73) 90%);

}

.light {

  --primary-text-color: #ffffff;
  --secondary-text-color: rgb(15, 74, 20);
  --sub-title-color: #ccffcd;

  --active-color: rgb(215, 252, 214);

  --toggle-color: #b2e6b0 ;

  --transparent-dark-color: rgba(15, 74, 20, 0.876);
  --transparent-light-color: rgba(215, 252, 214, 0.624);

  --light-shadow-color: #d2cccc;

  --app-background: linear-gradient(180deg,  #299126 10%, #47cb43 55%, #1b751b 75%);

  --canvas-background: linear-gradient(180deg, rgba(45, 162, 68, 0.309) 35%,rgba(0, 88, 16, 0.603) 90%);

}

// classes

.App {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: var(--primary-text-color);
  height:fit-content;
  background: var(--app-background);
  font-family: lato, Arial;
  font-size: 16px;
}

.fade-in-span{
  animation: fade-in 0.9s 1 ease-in;
}

@keyframes fade-in {
  0%{
    opacity: 0%;
    
  }
  50%{
    opacity: 50%;
  }
  100%{
    opacity: 100%;
  }
}

a {
  color: inherit;

  &:hover{
    color: rgb(4, 255, 0);
  }

  &:focus{
    color: rgb(4, 255, 0);
  }
}