//THEMES

.dark{
    --primary-text-color: #ffff;
    --secondary-text-color: #000000;
    --sub-title-color:#77d775;
    
    --active-color: rgb(4, 255, 0);
    
    --toggle-color: #0f690d;

    --transparent-dark-color: rgba(0, 0, 0, 0.79);
    --transparent-light-color: rgba(4, 255, 0, 0.78);

    --light-shadow-color:#a4a4a4;

    --app-background: linear-gradient(180deg, #000000 10%, #014100 70%, #06b003 90%);
    
    --canvas-background:linear-gradient(180deg, rgba(0, 0, 0, 0.2) 45%, rgba(0, 0, 0, 0.73) 90%);

}

.light {

  --primary-text-color: #ffffff;
  --secondary-text-color: rgb(15, 74, 20);
  --sub-title-color: #ccffcd;

  --active-color: rgb(215, 252, 214);

  --toggle-color: #b2e6b0 ;

  --transparent-dark-color: rgba(15, 74, 20, 0.876);
  --transparent-light-color: rgba(215, 252, 214, 0.624);

  --light-shadow-color: #d2cccc;

  --app-background: linear-gradient(180deg,  #318f2e 10%, #58c855 55%, #d9edd9 90%);

  --canvas-background: linear-gradient(180deg, rgba(42, 145, 38, 0.22) 15%,rgba(27, 117, 27, 0.797) 90%);

}

// classes

.App {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: var(--primary-text-color);
  height:fit-content;
  background: var(--app-background);
  font-family: lato, Arial;
  font-size: 16px;
}

.fade-in-span{
  animation: fade-in 0.9s 1 ease-in;
}

.notice{
  background-color: var(--transparent-dark-color);
  position: fixed;
  margin: auto;
  left: 70px;
  right: 70px;
  padding: 35px;
  border: solid 1px var(--active-color);
  font-size: 24px;
  z-index: 999;
  
  h3{
    text-align: center;
    color: var(--active-color);
  }

  button{
    color: var(--active-color);
    all: unset;
    background: none;
    color: var(--active-color);
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;

    &:hover{
      transform: scale(1.5);
      transition:0.3s;
    }
  }
}

@media only screen and (max-width:750px) {

  .notice{
    // top: 20px;
    left: 15px;
    right:15px;
    padding: 15px;
    font-size: 18px;
  }
}

@keyframes fade-in {
  0%{
    opacity: 0%;
    
  }
  50%{
    opacity: 50%;
  }
  100%{
    opacity: 100%;
  }
}

a {
  color: inherit;

  &:hover{
    color: rgb(4, 255, 0);
  }

  &:focus{
    color: rgb(4, 255, 0);
  }
}