// THEMES

.dark{
    --primary-text-color: #ffff;
    --secondary-text-color: #000000;
    --active-text-color: #04ff00;
  
    --app-background: linear-gradient(180deg, #000000 10%, #014100 70%, #06b003 100%);
}

.light {
  --primary-text-color: red;

  --app-background: linear-gradient(180deg, #77D775 0%, #C4FFC2 16.67%, #FFF 61.98%);
}

.App {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: var(--primary-text-color);
  height:fit-content;
  background: var(--app-background);
  font-family: lato, Arial;
  font-size: 16px;
}

.fade-in-span{
  animation: fade-in 0.9s 1 ease-in;
}

@keyframes fade-in {
  0%{
    opacity: 0%;
    
  }
  50%{
    opacity: 50%;
  }
  100%{
    opacity: 100%;
  }
}

/* this class is used in the header & footer components */
.title {
  font-weight: 700;
  text-shadow: 0px 10px 4px #000000;
  text-transform: uppercase;
}

a {
  color: inherit;

  &:hover{
    color: var(--active-text-color);
  }

  &:focus{
    color: var(--active-text-color);
  }
}